.cc{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
}
img{vertical-align:top;border:0;}
input,select,button,textarea{outline:none;}
textarea{resize:none;}
input[type="button"],input[input="submit"],input[input="file"] {cursor:pointer;} 
